<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to My App</title>
  </head>
  <body>
    <h1>Welcome <%= username %></h1>
    <p>Thank you for registering with My App.</p>
    <p>Your email address is: <%= email %></p>
  </body>
</html>