<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to My App</title>
  </head>
  <body>
    <p>Hello <%= email %> Welcom to App!</p>
    <p> You are requesting for Reset Password of your account with us. Please click on following link or copy peaste to any browser. </p>
    <a> http://<%= host %>/users/reset/<%= token %> </a>
  </body>
</html>